{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos</title>
</head>

<body>

    <div style="
                    display:flex; align-items:center; justify-content:center;
                    width: 50%;
                    padding: 20px;
                    border: 5px solid gray;
                    margin: auto;
                  ">

        <h1>Pag principal</h1>
        </form>
    </div>

</body>

</html>

{% endblock %}